<h1>Quotes Page</h1>
<!-- <div class="container">
    <div class="row"> -->
        
            <ul>
                <li *ngFor='let quote of quotes; let i = index'>{{quote.name}}, {{quote.quoteWords}}, {{quote.author}}
                    <br>
                <p>{{quote.date|date}}</p>
                
                <button type="button" class="btn btn-warning">Delete Quote</button>
                <button type="button" class="btn btn-success">Upvote</button>
                <button type="button" class="btn btn-secondary">Downvote</button></li>
            </ul>
                <app-quote-info [quote]='quote'></app-quote-info>
        
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    <!-- </div>
</div> -->
